
    WITH bounds AS (
        SELECT ST_TileEnvelope(8, 94, 143) AS geom_3857
    ),
    tile_clip AS (
        SELECT ST_Transform(geom_3857, 4326) as geom_4326 FROM bounds
    ),
    boundary AS (
        SELECT geom FROM ibge_boundaries WHERE id = 'sao_paulo_sp'
    ),
    boundary_clip AS (
        SELECT ST_Intersection(tile_clip.geom_4326, COALESCE((SELECT geom FROM boundary), tile_clip.geom_4326)) as geom_4326
        FROM tile_clip
    ),
    erbs_buffers AS (
        SELECT ST_Union(ST_Buffer(e.geometry, 
            (CASE WHEN COALESCE(e.is_urbano, false) THEN 1200.0 ELSE 1200.0 END) / 111320.0, 'quad_segs=4')) as geom
        FROM erbs_ativas e, tile_clip
        WHERE ('all' = 'all' OR e.operadora = 'all') 
          AND ('all' = 'all' OR e.frequencia = 'all')
          AND ST_DWithin(e.geometry, tile_clip.geom_4326, GREATEST(1200.0, 1200.0) / 111320.0)
    ),
    sombra_geom AS (
        SELECT ST_CollectionExtract(
            ST_Difference(
                (SELECT geom_4326 FROM boundary_clip),
                COALESCE((SELECT geom FROM erbs_buffers), ST_GeomFromText('POLYGON EMPTY', 4326))
            ), 3
        ) as geom_4326
    ),
    mvt_sombra AS (
        SELECT ST_AsMVTGeom(ST_Transform(s.geom_4326, 3857), (SELECT geom_3857 FROM bounds)) AS geom
        FROM sombra_geom s
        WHERE NOT ST_IsEmpty(s.geom_4326)
    ),
    celulas_veg AS (
        SELECT ST_Transform(
            CASE WHEN 'cidades' = 'cidades' THEN 
                ST_CollectionExtract(
                    ST_Intersection(v.geom, ST_Transform((SELECT geom_4326 FROM boundary_clip), 4674)), 3
                )
            ELSE
                v.geom
            END, 3857) as geom_3857,
            v.legenda,
            v.perda_700_dbm
        FROM ibge_vegetacao_subdividida v, tile_clip
        WHERE v.geom && ST_Transform(tile_clip.geom_4326, 4674)
          AND ST_Intersects(v.geom, ST_Transform(COALESCE((SELECT geom FROM boundary), tile_clip.geom_4326), 4674))
          AND (v.nm_uantr IS NULL OR v.nm_uantr = '') 
          AND v.legenda NOT ILIKE '%antr¾pic%'
          AND v.legenda NOT ILIKE '%urban%'
          AND v.legenda NOT ILIKE '%agro%'
          AND v.legenda NOT ILIKE '%pecußria%'
          AND v.legenda NOT ILIKE '%ßgua%'
          AND v.legenda NOT ILIKE '%agua%'
          AND v.legenda NOT ILIKE '%rio%'
          AND v.legenda NOT ILIKE '%corpo d%'        
    ),
    mvt_vegetacao AS (
        SELECT 
            ST_AsMVTGeom(c.geom_3857, (SELECT geom_3857 FROM bounds)) AS geom,
            c.legenda,
            c.perda_700_dbm
        FROM celulas_veg c
        WHERE NOT ST_IsEmpty(c.geom_3857)
    ),
    celulas_pop AS (
        SELECT g.geom AS geom_4326,
               g.populacao_estimada as pop_absoluta,
               (ST_Area(g.geom::geography) / 1000000.0) as area_km2
        FROM h3_grid_precalc g, tile_clip
        WHERE g.geom && tile_clip.geom_4326
          AND ST_Intersects(g.geom, COALESCE((SELECT geom FROM boundary), tile_clip.geom_4326))
    ),
    mvt_populacao AS (
        SELECT ST_AsMVTGeom(ST_Transform(c.geom_4326, 3857), (SELECT geom_3857 FROM bounds)) AS geom,
               c.pop_absoluta,
               CASE WHEN c.area_km2 > 0 THEN c.pop_absoluta / c.area_km2 ELSE 0 END as densidade,
               NOT EXISTS (
                   SELECT 1 FROM erbs_ativas e
                   WHERE ('all' = 'all' OR e.operadora = 'all') 
                     AND ('all' = 'all' OR e.frequencia = 'all')
                     AND ST_DWithin(c.geom_4326, e.geometry, 1200.0 / 111320.0)
                     AND ST_Distance(c.geom_4326, e.geometry) <= (CASE WHEN COALESCE(e.is_urbano, false) THEN 1200.0 ELSE 1200.0 END) / 111320.0
               ) as na_sombra
        FROM celulas_pop c
        WHERE c.pop_absoluta > 0
    ),
    mvt_predios AS (
        SELECT ST_AsMVTGeom(ST_Transform(geometry, 3857), (SELECT geom_3857 FROM bounds)) AS geom,
               height
        FROM osm_buildings_3d_raw, tile_clip
        WHERE geometry && ST_Transform(tile_clip.geom_4326, 4326)
    )
    SELECT (
        COALESCE((SELECT ST_AsMVT(mvt_sombra, 'sombra_exata') FROM mvt_sombra), '\\x'::bytea) || 
        COALESCE((SELECT ST_AsMVT(mvt_vegetacao, 'vegetacao') FROM mvt_vegetacao), '\\x'::bytea) ||
        COALESCE((SELECT ST_AsMVT(mvt_populacao, 'populacao') FROM mvt_populacao), '\\x'::bytea) ||
        COALESCE((SELECT ST_AsMVT(mvt_predios, 'predios') FROM mvt_predios), '\\x'::bytea)
    ) AS tile;
    
